<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>thebook-shelf sign in/ sign up page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"type="text/javascript"></></script>
    <script src="https://use.fontawesome.com/a3b77350a6.js"></script> <!--Icons (delete button)-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css"> <!--Open Sans-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


</head>
<body>
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand" href="#">
            <img id="headerLogo" src="landinglogo.png" class="d-inline-block align-top" alt="">
        </a>
        <a class="navbar-brand" href="#">

            <h2 class="headerFooterText">thebook-shelf.com</h2>
            <p class="headerFooterText">Beautiful content deserves a beautiful space</p>
        </a>
    </nav>

    <div class="jumbotron">

        <div class="contrainer">
            <h1 class="mainText" align="right">Sign in or create your own bookshelf</h1>
            <p class="mainText" align="left">The internet is beautiful. Share it.</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" align="center">
            <!-- Sign up-->
            <div class="col-4">
                <div class="card">
                    <article class="card-body" id="signIn">
                        <h2> Sign in </h2>
                        <form>
                            <div class="form-group">
                                <label>Your email</label>
                                <input id="usernameLogin" name="" class="form-control" placeholder="Email" type="text">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <a class="float-right" href="mailto:seanmckiernan01@gmail.com">Forgot?</a>
                                <label>Your password</label>
                                <input id="passwordLogin" class="form-control" placeholder="******" type="password">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <div class="checkbox">
                                    <label> <input type="checkbox"> Save password </label>
                                </div> <!-- checkbox .// -->
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <button id="submitLogin" type="submit" class="btn btn-primary btn-block"> Login  </button>
                            </div> <!-- form-group// -->
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div>
            <!-- Sign up-->
            <div class="col-4">
                <div class="card">
                    <article class="card-body" id="signUp">
                        <h2> Sign up </h2>
                        <form>
                            <div class="form-group">
                                <label>Your email</label>
                                <input id="userNameSignUp"name="" class="form-control" placeholder="Email" type="text">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <label >Your password</label>
                                <input id="passwordSignUp" class="form-control" placeholder="******" type="password">
                            </div> <!-- form-group// -->
                            <p style="color:white">Please don't use a secure password, I haven't built any encryption features yet! &#128517;</p>
                            <div class="form-group">
                                <button id="submitSignUp" type="submit" class="btn btn-primary btn-block"> Sign up  </button>
                            </div> <!-- form-group// -->
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div>
            <div class="col">
                <p class="text-success" id="signInMsg"></p>
                <p class="text-success" id="signUpMsg"></p>
                <div class="spinner-border text-success" id="spinner" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                   
                <button type="button" class="navButton btn btn-danger" id="logOutButton">Log out</button>
                
                <button onclick="location.href='http://63.33.214.25/index'"  class=" navButton btn btn-primary" type="button">Back to the landing page</button>
                <div class="dropdown show">
                    <a class="navButton btn btn-primary dropdown-toggle" href="#" role="button" id="enterButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      View a bookshelf
                    </a>
                  
                    <div class="dropdown-menu" id="userListMenu" aria-labelledby="dropdownMenuLink">
                     <!--Usernames populate here-->
                     <a class="selectedProfile dropdown-item text text-primary">Make sure to log out to see another's bookshelf!</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-dark">
        <div class="col">
            <p class="headerFooterText">Built with love by Seán McKiernan | 2020</p>
        </div>
    </div>


</body>
</html>

<style>
    .jumbotron {
        background: url(balloons_background_2.jpg) fixed center no-repeat;
        background-size: cover;
        height: 500px;
        margin: 0px !important
    }
    #headerLogo {
        border-radius: 30px;
        width: 20%;
        height: 20%;
        margin: 10px;
    }
    .mainText {
        color: white;
    }

    h1 {
        font-family: 'inter', sans-serif;
        font-weight: bold;
        font-size: 44px;
        text-align: left;
        padding: 10px;
        line-height: 1.2em;
        color: #444444;
    }
    form{
        margin-top: 10px;
    }

    #signUp {
        background: #0062cc;
    }

    #signIn{
        padding-bottom: 37px;
    }

    .card{
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .navButton{
        margin: 5px;
    }

    #spinner {
        display: none;
    }

    .headerFooterText {
        color: white;
        margin-top: 50px;
        margin-left: 10px;
    }


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {

        // Get list of bookshelf users
        console.log('loading list of users')
        var requestString = 'http://63.33.214.25/users';
        $.get(requestString, function (data, status) {
        
            data.forEach(function (user) {
                lovelyUser = user.user
            console.log(lovelyUser)
            document.getElementById('userListMenu').innerHTML +=  `<a class="selectedProfile dropdown-item" href="http://63.33.214.25/home?unloggedUserName=${lovelyUser}">${lovelyUser}</a>`

                });
        });
        //Define functions
        function startTimer() {
            location.reload();
        }

            //Sign up;
            $('#submitSignUp').on("click", function (event) {
                event.preventDefault();
                var userNameInput = $('#userNameSignUp');
                var passwordInput = $('#passwordSignUp');

                var NewUseruserName = userNameInput.val();
                var NewUserpassword = passwordInput.val();

                console.log('new user is:', NewUseruserName, 'and the password is', NewUserpassword)


                // POST NEW USER TO DATA BASE;
                    var postUrl = 'http://63.33.214.25/users'
                    // Get some values from elements on the page

                    // Send the data using post;

                    $.post(postUrl, { userName: NewUseruserName, password: NewUserpassword })
                    .done(function (data) {
                            $('#signUpMsg').html(data).show();
                            $('#spinner').show()
                        });   
            });
        // Login
        $('#submitLogin').on("click", function(event){
            event.preventDefault();
            usernameLogin
            var userNameLogin = $('#usernameLogin');
            var passwordLogin = $('#passwordLogin');

            var validateUseruserName = userNameLogin.val();
            var validateserpassword = passwordLogin.val();

            console.log('Validating username:', validateUseruserName, 'and password', validateserpassword)
            // POST NEW USER TO DATA BASE;
            var postUrl = 'http://63.33.214.25/auth'
            var jqxhr = $.post( postUrl, 
                    { userName: validateUseruserName, password: validateserpassword})
                     .then(function successCallback(response){
            var responseStatus = response
            console.log("response status is", responseStatus)
        if (responseStatus ==="OK") {  // Response will be either true or false. For this yu need to change the API response.
            //Logged in successfully
            $('#spinner').show()
            console.log("In sign in success clause")
            document.cookie = `validatedUserName = ${validateUseruserName}; path=/`
            console.log('this cookie is:', document.cookie)

            setTimeout(function () { window.location.href ='http://63.33.214.25/home' }, 100);
            
        }else{
           //Something went wrong
           console.log("In sign in failure clause")
           console.log('failure is', response)
           $('#signInMsg').html(response).show();
            $('#spinner').show()
           setTimeout(function () { window.location.href ='http://63.33.214.25/signUp' }, 2500);
        }
         });           
        }) 


    // The following is duplicated code from js_code.js that could probably be avoided by just linking that file to this file.
     function deleting_cookie(name) {
        document.cookie = name +"=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;";
      }
    function getCookie(name) 
    {
        const value = `${document.cookie}`;
        if(value.length >0){
            console.log('all cookies', value)
            const parts = value.split(`; ${name}=`);
            console.log('parts 0 split on semi-colon part 0:', parts[0].split(';')[0].split('=')[1])
            var loggedInUser =  parts[0].split(';')[0].split('=')[1]
            return loggedInUser;
        } else{
            return [] //return empty array if not logged in.
        }
        
    }

    // Set default cookie values
    cookies= getCookie()
    if(cookies.length === 0){
        console.log('No user logged in. Displaying default profile')
        userName = 'sean' // by default show my profile
        status = 'signedOut' // make sure it cannot be edited
        $('#editModeSwitch').hide() // hide edit switch
    } else {
        console.log('User logged in. Diplaying personal profile')
        userName = cookies[0]
        status = cookies[1]
        console.log('user', userName, 'has status of ', status)
        $('#editModeSwitch').show() //show edit switch
    }
    
    
    
    $('#logOutButton').click(function() {
        console.log('log out button clicked')
        console.log('logging out...')
        console.log('cookie value:', document.cookie)
        deleting_cookie('validatedUserName')
        deleting_cookie('status')

        console.log('cookie value:', document.cookie)
       window.location.href ='http://63.33.214.25/signUp'
    })

  
    });

    
</script>