<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>thebook-shelf sign in/ sign up page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"type="text/javascript"></></script>
    <script src="https://use.fontawesome.com/a3b77350a6.js"></script> <!--Icons (delete button)-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css"> <!--Open Sans-->


    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


</head>
<body>
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand" href="#">
            <img id="headerLogo" src="data/landinglogo.png" class="d-inline-block align-top" alt="">
        </a>
        <a class="navbar-brand" href="#">

            <h2 class="headerFooterText">thebook-shelf.com</h2>
            <p class="headerFooterText">Beautiful content deserves a beautiful space</p>
        </a>
    </nav>

    <div class="jumbotron">
        <div class="contrainer">
            <h1 class="mainText">Sign in or create your own bookshelf</h1>
            <p>The internet is beautiful. Share it.</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row" align="center">
            <!-- Sign up-->
            <div class="col-4">
                <div class="card">
                    <article class="card-body" id="signIn">
                        <h2> Sign in </h2>
                        <form>
                            <div class="form-group">
                                <label>Your email</label>
                                <input id="usernameLogin" name="" class="form-control" placeholder="Email" type="text">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <a class="float-right" href="mailto:seanmckiernan01@gmail.com">Forgot?</a>
                                <label>Your password</label>
                                <input id="passwordLogin" class="form-control" placeholder="******" type="password">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <div class="checkbox">
                                    <label> <input type="checkbox"> Save password </label>
                                </div> <!-- checkbox .// -->
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <button id="submitLogin" type="submit" class="btn btn-primary btn-block"> Login  </button>
                            </div> <!-- form-group// -->
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div>
            <!-- Sign up-->
            <div class="col-4">
                <div class="card">
                    <article class="card-body" id="signUp">
                        <h2> Sign up </h2>
                        <form>
                            <div class="form-group">
                                <label>Your email</label>
                                <input id="userNameSignUp"name="" class="form-control" placeholder="Email" type="text">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <label >Your password</label>
                                <input id="passwordSignUp" class="form-control" placeholder="******" type="password">
                            </div> <!-- form-group// -->
                            <p style="color:white">Don't use a secure password, I haven't built any encryption features yet! &#128517;</p>
                            <div class="form-group">
                                <button id="submitSignUp" type="submit" class="btn btn-primary btn-block"> Sign up  </button>
                            </div> <!-- form-group// -->
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div>
            <div class="col">
                <p class="text-success" id="signUpMsg"></p>
                <div class="spinner-border text-success" id="spinner" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-dark">
        <div class="col">
            <p class="headerFooterText">Built with love by Seán McKiernan | 2020</p>
        </div>
    </div>


</body>
</html>

<style>
    .jumbotron {
        background: url(data/balloons_background_2.jpg) fixed center no-repeat;
        background-size: cover;
        height: 500px;
        margin: 0px !important
    }
    #headerLogo {
        border-radius: 30px;
        width: 20%;
        height: 20%;
        margin: 10px;
    }
    .mainText {
        color: white;
    }

    h1 {
        font-family: 'inter', sans-serif;
        font-weight: bold;
        font-size: 44px;
        text-align: left;
        padding: 50px;
        line-height: 1.2em;
        color: #444444;
    }
    form{
        margin-top: 10px;
    }

    #signUp {
        background: #0062cc;
    }

    #signIn{
        padding-bottom: 37px;
    }

    .card{
        margin-bottom: 30px;
        margin-top: 10px;
    }

    #spinner {
        display: none;
    }

    .headerFooterText {
        color: white;
        margin-top: 50px;
        margin-left: 10px;
    }


</style>

<script>
    $(document).ready(function () {

        function startTimer() {
            location.reload();
        }

            //Sign up;

            $('#submitSignUp').on("click", function (event) {
                event.preventDefault();
                setTimeout(function () { window.location.reload(true); }, 1000);
                var userNameInput = $('#userNameSignUp');
                var passwordInput = $('#passwordSignUp');

                var NewUseruserName = userNameInput.val();
                var NewUserpassword = passwordInput.val();

                console.log('new user is:', NewUseruserName, 'and the password is', NewUserpassword)


                // POST NEW USER TO DATA BASE;
                    var postUrl = 'http://localhost:5555/users'
                    // Get some values from elements on the page

                    // Send the data using post;

                    $.post(postUrl, { userName: NewUseruserName, password: NewUserpassword })
                    .done(function (data) {
                        setTimeout(startTimer, 12000);
                            $('#signUpMsg').html(data).show();
                            $('#spinner').show()
                        });   
            });
        // Login
        $('#submitLogin').on("click", function(event){
            event.preventDefault();
           setTimeout(function () { window.location.reload(true); }, 5000);
            usernameLogin
            var userNameLogin = $('#usernameLogin');
            var passwordLogin = $('#passwordLogin');

            var validateUseruserName = userNameLogin.val();
            var validateserpassword = passwordLogin.val();

            console.log('Validating username:', validateUseruserName, 'and password', validateserpassword)
            // POST NEW USER TO DATA BASE;
            var postUrl = 'http://localhost:5555/auth'
            var jqxhr = $.post( postUrl, 
                    { userName: validateUseruserName, password: validateserpassword})
                     .then(function successCallback(response){
        if (response) {  // Response will be either true or false. For this yu need to change the API response.
            //Logged in successfully
            console.log('success clause')
            document.cookie = "validatedUserName="+validateUseruserName
            window.location.href ='http://localhost:5555/home'
            //sessionStorage.setItem('name', 'sean')
            //$(location).attr('href', 'home.html')


        }else{
           //Something went wrong
           console.log('something went wrong')
        }
         });
           
        }) 
        
        
       
    });

    
</script>